<form name="password_forgotten" id="password_forgotten" action="/profile/password-forgotten" method="POST">
  <div class="formrow">
    <label class="fieldtitle" for="email"><%=t.password_forgotten.email%></label>
    <input type="text" name="email" id="email" class="fieldcontrol" maxlength="50"/>
  </div>
  <div class="formrow formrow-botonera">
    <input type="submit" name="send" id="send" value="<%= t.password_forgotten.send_button %>"/>
  </div>
</form> 
<script type="text/javascript">
  
  require (['jquery','jquery.validate'], function($) {

    passwordForgottenModel = { /* The model */	
    };
  
    passwordForgottenController = { /* The controller */
    };
  
    passwordForgottenView = { /* The view */
  
      init : function() {
    	
        $('#password_forgotten').validate( {
    	    debug : true,
       	  submitHandler : function(form) {
    	      form.submit();	
    	    },
    	    rules: {
    	  
    	     'email': {
    	        required: true,
    	        email: true,
  	       	  remote: {
  	       	    url: '/api/profile/check-email-exists',
  	       	    type: 'post',
  	       	    content_type: 'application/json; charset=utf-8',
  	       	    data : {
  	       	    	  'email' : function() {
  	       	   	      return $('#email').val();	
  	       	   	    }
  	       	    }    	    	
    	      }
    	    }
    	  },
      	messages : {
    	 
      	 'email' : {
  	       	required: "<%= t.profile_form.validation.mail_required %>",
  	         	email: "<%= t.profile_form.validation.mail_valid %>",
  	         	remote: $.validator.format("<%= t.profile_form.validation.mail_not_in_use %>")
  	     }
    	  }  
       });
     
       $('form[name=password_forgotten]').bind('focus', function(){
          $('form[name=password_forgotten] #email').focus();
       });
       
      }
    };
  
    $(document).ready(function(){ passwordForgottenView.init(); });
  });

</script>
  