<div class="top-navigation-bar">
  <h2 class="entity-title"><%= t.change_password.title %></h2>
</div>
<div class="admin_content_wrapper" style="background-color: #f5f5f5; margin: 0">
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="block ">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title"><%= t.change_password.title %></h3>
        </div>        
        <div class="block-content ">

          <form name="change_password" id="change_password" method="POST" action="/profile/change-password" class="form-horizontal">
            <div class="form-group">
               <label class="col-md-3 control-label" for="current_password"><%= t.change_password.current_password %></label>
               <div class="col-md-9">
                 <input type="password" id="current_password" name="current_password" class="form-control" autocomplete="off"/>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-3 control-label" for="password"><%= t.change_password.password %></label>
               <div class="col-md-9">
                 <input type="password" id="password" name="password" class="form-control" autocomplete="off"/>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-3 control-label" for="confirm_password"><%= t.change_password.confirm_password %></label>
               <div class="col-md-9">
                 <input type="password" id="confirm_password" name="confirm_password" class="form-control" autocomplete="off"/>
               </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <button class="button btn btn-sm btn-primary pull-right" type="submit" name="send" id="send"><%= t.change_password.send_button%></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>        
</div>

<script type="text/javascript">
  
  require(['jquery','jquery.validate'], function($) {  
    
    changePasswordModel = {
    	
    	
    };
    
    changePasswordController = {
    	
    };
    
    changePasswordView = {
    	
    	init : function() {
    		
    	  $.validator.addMethod(
    	    "regexp",
    	    function(value, element, regexp) {
    	      var re = new RegExp(regexp);
    	      return this.optional(element) || re.test(value);	
    	    },
    	    "Please check your input");  		
    		
    	  $('#change_password').validate( {
    	  	
    	  	debug : true,
    	  	
    	  	submitHandler : function(form) {
    	  	  form.submit();	
    	  	},
    	  	
    	  	rules : {
    	  	
    	  	  'current_password' : {
    	  	  	required: true,
    	  	  	remote : {
    	       	   url: '/api/profile/check-password',
    	       	   type: 'post',
    	       	   content_type: 'application/json; charset=utf-8',
    	       	   data : {
    	       	   	  'password' : function() {
    	       	   	    return $('#current_password').val();	
    	       	   	   }
    	       	   }
    	  	  	}    
    	  	  },
    	  	  
    	  	  'password' : {
    	       	 required: true,	
    	       	 minlength : 6,
    	       	 regexp: '^[\\w|\\d]*$'  	  	  	
    	  	  },
    	  	  
    	  	  'confirm_password' : {
    	  	  	equalTo: '#password'
    	  	  }
    	  	  	
    	  	},
    	  	
    	  	messages : {
    	  	
    	  	  'current_password' : {
    	  	  	 required : "<%= t.change_password.validation.current_password_required %>",
    	  	     remote  :"<%= t.profile_form.validation.password_not_valid %>"
    	  	  },
    	  	  
    	  	  'password' : {
    	       	 required: "<%= t.profile_form.validation.password_required %>",
    	       	 minlength: "<%= t.profile_form.validation.password_minlength %>",
    	       	 regexp: "<%= t.profile_form.validation.password_regexp %>"	  	  	  	
    	  	  },
    	  	  
    	  	  'confirm_password': {
    	  	  	 equalTo: "<%= t.profile_form.validation.confirm_password_equalTo %>",
    	  	  }
    	  		
    	  	}
    	  	
    	  });
    		
    	
    	  $('#current_password').focus();
    		
    	}
    	
    };
    
    changePasswordView.init();
  });
</script>  