<h2><%= t.change_password.title %></h2>
<p><%= t.change_password.description %></p>
<form name="change_password" id="change_password" method="POST" action="/profile/change-password">
  <div class="formrow">
    <label class="fieldtitle" for="current_password"><%= t.change_password.current_password %></label>
    <input type="password" class="fieldcontrol" name="current_password" id="current_password" maxlength="20"/>
  </div>
  <div class="formrow">
    <label class="fieldtitle" for="password"><%= t.change_password.password %></label>
    <input type="password" class="fieldcontrol" name="password" id="password" maxlength="20"/>
  </div>
  <div class="formrow">
    <label class="fieldtitle" for="confirm_password"><%= t.change_password.confirm_password %></label>
    <input type="password" class="fieldcontrol" name="confirm_password" id="confirm_password" maxlength="20"/>
  </div>
  <div class="formrow formrow-botonera">
    <input type="submit" name="send" id="send" value="<%= t.change_password.send_button%>"/>
  </div>  
</form>
<script type="text/javascript">
  
  changePasswordModel = {
  	
  	
  };
  
  changePasswordController = {
  	
  };
  
  changePasswordView = {
  	
  	init : function() {
  		
  	  $.validator.addMethod(
  	    "regexp",
  	    function(value, element, regexp) {
  	      var re = new RegExp(regexp);
  	      return this.optional(element) || re.test(value);	
  	    },
  	    "Please check your input");  		
  		
  	  $('#change_password').validate( {
  	  	
  	  	debug : true,
  	  	
  	  	submitHandler : function(form) {
  	  	  form.submit();	
  	  	},
  	  	
  	  	rules : {
  	  	
  	  	  'current_password' : {
  	  	  	required: true,
  	  	  	remote : {
  	       	   url: '/api/profile/check-password',
  	       	   type: 'post',
  	       	   content_type: 'application/json; charset=utf-8',
  	       	   data : {
  	       	   	  'password' : function() {
  	       	   	    return $('#current_password').val();	
  	       	   	   }
  	       	   }
  	  	  	}    
  	  	  },
  	  	  
  	  	  'password' : {
  	       	 required: true,	
  	       	 minlength : 6,
  	       	 regexp: '^[\\w|\\d]*$'  	  	  	
  	  	  },
  	  	  
  	  	  'confirm_password' : {
  	  	  	equalTo: '#password'
  	  	  }
  	  	  	
  	  	},
  	  	
  	  	messages : {
  	  	
  	  	  'current_password' : {
  	  	  	 required : "<%= t.change_password.validation.current_password_required %>",
  	  	     remote  : jQuery.format("<%= t.profile_form.validation.password_not_valid %>")
  	  	  },
  	  	  
  	  	  'password' : {
  	       	 required: "<%= t.profile_form.validation.password_required %>",
  	       	 minlength: "<%= t.profile_form.validation.password_minlength %>",
  	       	 regexp: "<%= t.profile_form.validation.password_regexp %>"	  	  	  	
  	  	  },
  	  	  
  	  	  'confirm_password': {
  	  	  	 equalTo: "<%= t.profile_form.validation.confirm_password_equalTo %>",
  	  	  }
  	  		
  	  	}
  	  	
  	  });
  		
  	
  	  $('#current_password').focus();
  		
  	}
  	
  	
  	
  };
  
  $(document).ready( function(){ changePasswordView.init(); });
  
</script>  