<% if @method == 'POST' %>
<h2><%=t.profile_form.create_account_title%></h2>
<% else %>
<h2><%=t.profile_form.update_account_title%></h2>
<% end %>
<form id="profile_form" method="<%=@method%>" action="<%=@action%>">
 
  <% if @method == 'POST' %>
  <fieldset id="account">
    <legend><%=t.profile_form.account_legend%></legend>
    <div class="formrow">
      <label for="email" class="fieldtitle"><%=t.profile_form.email%> *</label>
      <input type="text" class="fieldcontrol" id="email" name="email" maxlength="50" placeholder="<%= t.profile_form.email_placeholder%>"/>
    </div>
    <div class="formrow">
      <label for="username" class="fieldtitle"><%=t.profile_form.username%> *</label>
      <input type="text" class="fieldcontrol" id="username" name="username" maxlength="20" placeholder="<%= t.profile_form.username_placeholder%>"/>
    </div>
    <div class="formrow">
      <label for="password" class="fieldtitle"><%=t.profile_form.password%> *</label>
      <input type="password" class="fieldcontrol" id="password" name="password" maxlength="20" placeholder="<%= t.profile_form.password_placeholder%>"/>
    </div>
    <div class="formrow">
      <label for="confirm_password" class="fieldtitle"><%=t.profile_form.confirm_password%> *</label>
      <input type="password" class="fieldcontrol" id="confirm_password" name="confirm_password" maxlength="20" placeholder="<%= t.profile_form.confirm_password_placeholder%>"/>
    </div>
  </fieldset>
  <%end%>
  
  <% if @method == 'PUT' %>
    <input type="hidden" name="username" id="username" value="<%=@document['username']%>"/>
  <% end %>
  
  <fieldset id="personal-information">
    <legend><%=t.profile_form.personal_information_legend%></legend>
    <div class="formrow">
      <label for="full_name" class="fieldtitle"><%=t.profile_form.full_name%> *</label>
      <input type="text" class="fieldcontrol" id="full_name" name="full_name" maxlength="60" value="<%=@document['full_name'] if @document%>" class="fieldcontrol" placeholder="<%= t.profile_form.full_name_placeholder%>"/>
    </div>
    <div class="formrow">
      <label for="date_of_birth" class="fieldtitle"><%=t.profile_form.date_of_birth%></label>
      <select id="date_of_birth_month" name="date_of_birth_month" class="fieldcontrol"></select>
      <select id="date_of_birth_day" name="date_of_birth_day" class="fieldcontrol-combo"></select>
      <select id="date_of_birth_year" name="date_of_birth_year" class="fieldcontrol-combo"></select>
      <input type="hidden" id="date_of_birth" name="date_of_birth"/>
    </div>
    <div class="formrow">
      <label for="country_of_origin" class="fieldtitle"><%=t.profile_form.country_of_origin%></label>
      <input type="text" class="fieldcontrol" id="country_of_origin" name="country_of_origin" maxlength="40" value="<%=@document['country_of_origin'] if @document%>" class="fieldcontrol" placeholder="<%= t.profile_form.country_of_origin_placeholder%>"/>
    </div>
    <div class="formrow">
      <label class="fieldtitle"><%=t.profile_form.sex%> </label>
      <select id="sex" name="sex" class="fieldcontrol">
        <option value="0" <% if @document and @document['sex']=='0'%>selected="selected"<%end%>><%= t.profile_form.male %></option>
        <option value="1" <% if @document and @document['sex']=='1'%>selected="selected"<%end%>><%= t.profile_form.female %></option>
      </select>
    </div>
    <div class="formrow">
      <label for="about_me" class="fieldtitle"><%=t.profile_form.about_me%></label>
      <textarea id="about_me" class="fieldcontrol" name="about_me" rows="5" placeholder="<%= t.profile_form.about_me_placeholder%>"><%=@document['about_me'] if @document%></textarea>
    </div>
    <p style="text-align:right"> <span id="about_me_comments_length"></span> <%= t.available_chars %> </p>
  </fieldset>
      
  <!-- Profile extensions extra data -->
  
  <%= call_hook(:profile_form) %>
  
  <!-- Show the photo -->

  <fieldset id="profile-photo">
    <legend><%= t.profile_form.photo_legend %></legend>
    <div id="profile_photo_container" class="formrow">
      <img id="profile_photo_img" src="<%=profile_photo_url(@document)%>"/>  
    </div>
    <div id="profile_change_container" class="formrow">
      <input type="button" id="change_photo_link" name="change_photo_link" value="<%= t.profile_form.change_photo %>"/> 
    </div>
    <input type="hidden" id="photo[path]" name="photo[path]" value="<%= @document[:photo][:path] if @document and @document[:photo] and @document[:photo][:path] %>"/>
    <input type="hidden" id="photo[cache][tiny]" name="photo[cache][tiny]" value="<%= media_url('/photo_gallery', @document[:photo], :tiny) if @document and @document[:photo] and @document[:photo][:cache] and @document[:photo][:cache][:tiny]%>"/>
    <input type="hidden" id="photo[cache][small]" name="photo[cache][small]" value="<%= media_url('/photo_gallery', @document[:photo], :small) if @document and @document[:photo] and @document[:photo][:cache] and @document[:photo][:cache][:small] %>"/>
    <input type="hidden" id="photo[cache][medium]" name="photo[cache][medium]" value="<%= media_url('/photo_gallery', @document[:photo], :medium) if @document and @document[:photo] and @document[:photo][:cache] and @document[:photo][:cache][:medium]%>" />
    <input type="hidden" id="photo[cache][full]" name="photo[cache][full]" value="<%= media_url('/photo_gallery', @document[:photo], :full) if@document and  @document[:photo] and @document[:photo][:cache] and @document[:photo][:cache][:full]%>"/>
  </fieldset>


  <div id="profile_form_buttons" class="formrow formrow-botonera">    
    <input type="submit" id="send" value="<%= (@method=='POST')?(t.profile_form.signup_button):(t.profile_form.update_button) %>"/>
  </div>   
</form>

<div id="choose_photo">

  <%= upload_photo :locals => { :photo_album  => photo_album, 
                                :photo_width  => photo_width, 
                                :photo_height => photo_height, 
                                :accept       => photo_accept, 
                                :max_size     => photo_max_size } %>

</div>

<div id="sending-request" title="<%= t.profile_form.sending_request %>">
   <img src="/img/ajax-loader_grande.gif"/>
</div>  

<script type="text/javascript">

  profileModel = {
  	
  	state : 'starting',
  	
  	change_state : function(action) {
  	
  	  switch (action) {
  	  	
  	  	case 'send_request':
  	  	  this.state = 'sending_request';
  	  	  break;
  	  	
  	    case 'process_done_ok' :
  	    
  	      this.state = 'process_completed';
  	      break;
  	      
  	    case 'process_done_error' :
  	    
  	      this.state = 'process_error';
  	      break;	
  	  }
  		
  	  profileView.state_changed(this.state);	
  		
  	},
  	
  	register_profile : function (request) { /* Register the profile */
  	
  	  delete request['send'];
  	  delete request['confirm_password'];
  	  delete request['change_photo_link'];
      delete request['date_of_birth_day'];
      delete request['date_of_birth_month'];
      delete request['date_of_birth_year'];
  		
  	  var json_request = encodeURIComponent(JSON.stringify(request));
  	  var the_url = document.forms['profile_form'].action;
  	    	  
  	  this.change_state('send_request');
  	  	
  	  $.ajax (
  	    {
  	      type: '<%= @method %>',
  	      url: '<%= @action %>',
  	      data: json_request,
  	      data_type: 'html', /* Response expected from the server */
  	      content_type: 'application/json; charset=utf-8',
  	      success: function(data, textStatus, jqXHR) {
  	        profileModel.change_state('process_done_ok');
  	      },
  	      error: function(jqXHR, textStatus, errorThrow) {
  	      	profileModel.change_state('process_done_error');
  	      } 	
  	    }
  	  );	
  		
  	}
  	
  };
  
  profileController = {
  	
  	register_profile : function(data) { /* Register the profile */
  		
  	  profileModel.register_profile(data);
  		
  	},
  	
  	redirectProfile : function() { /* Redirect to the profile page */
  		
  	  window.location.href='/profile/' + document.getElementById('username').value;
  		
  	},
  	
  	choosePhoto : function() { /* Choose the photo (push the button) */
  	
  	  if (typeof uploaderModel != "undefined") {
  	  	 
        var photoAlbum = '';
        var photoId = '';
 
  	  	if (document.forms['profile_form']['photo[path]']) { 
  	  	 
          var photo_info = document.forms['profile_form']['photo[path]'].value.match(/album\/(\w+)\/photo\/(\w+)/);          
          if (photo_info) {
            photoAlbum = photo_info[1];
            photoId = photo_info[2];  	  	
          }
          
  	  	}
  	  	
  	  	uploaderModel.photoId = photoId;
  	  	uploaderModel.photoAlbum = photoAlbum;
  	    uploaderModel.photoName = document.forms['profile_form']['username'].value;
  	    uploaderModel.photoDescription = document.forms['profile_form']['full_name'].value + ' profile photo';
  	  
  	    uploaderModel.onPhotoUploaded = function() {
  	      
  	      var the_photo = 'album/' + uploaderModel.photo.album.name + '/photo/' + uploaderModel.photo.id;
  	       
  	      document.forms['profile_form']['photo[path]'].setAttribute('value', the_photo);
  	      
  	      if (uploaderModel.photo.thumbnails && uploaderModel.photo.thumbnails[0] && uploaderModel.photo.thumbnails[0].thumbnail_url) {
  	        document.forms['profile_form']['photo[cache][tiny]'].setAttribute('value', uploaderModel.photo.thumbnails[0].thumbnail_url);
  	      }
  	      
  	      if (uploaderModel.photo.thumbnails && uploaderModel.photo.thumbnails[1] && uploaderModel.photo.thumbnails[1].thumbnail_url) {
  	        document.forms['profile_form']['photo[cache][small]'].setAttribute('value', uploaderModel.photo.thumbnails[1].thumbnail_url);
  	      }
  	      
  	      if (uploaderModel.photo.thumbnails && uploaderModel.photo.thumbnails[2] && uploaderModel.photo.thumbnails[2].thumbnail_url ) {
  	        document.forms['profile_form']['photo[cache][medium]'].setAttribute('value', uploaderModel.photo.thumbnails[2].thumbnail_url);
  	      }
  	      
  	      if (uploaderModel.photo.image_url) {
  	        document.forms['profile_form']['photo[cache][full]'].setAttribute('value', uploaderModel.photo.image_url);
  	      }
  	      
  	      // The version is added to force the photo reload
          document.forms['profile_form']['profile_photo_img'].setAttribute('src', document.forms['profile_form']['photo[cache][medium]'].value);  	      
  	    }
  	  
  	  }
  	
  	  YSD.showElement(document.getElementById('choose_photo'), true);	
  		
  	},
  	
  	hideChoosePhoto : function() { /* Close the show photo */
  	  YSD.hideElement(document.getElementById('choose_photo'));
  	}
  	  	
  	
  };
  
  
  profileView = {
  	
  	init : function() {
  		
  	  // Configure the date of birth	
  	  
  	  this.date_of_birth = new YsdForms.DateControl(document.getElementById('date_of_birth_day'),
  	                           document.getElementById('date_of_birth_month'),
  	                           document.getElementById('date_of_birth_year'),
  	                           document.getElementById('date_of_birth'),
  	                           '<%= session[:locale]%>');
  	                       
  	  <% if @document and @document['date_of_birth']%>
  	    this.date_of_birth.setDate(new Date('<%=@document['date_of_birth']%>'));
  	  <% end %>                     
  	                             	     
  	  // Configure the choose photo
  	  
  	  $('#change_photo_link').click( function(event) {
  	  	
  	  	profileController.choosePhoto();  	  	
  	  	
  	  });
  	  
  	  $('#profile_photo_img').bind('load', function(event) {
  	  	YSD.styles.center_container(document.getElementById('profile_photo_img'));
  	  });
  		
  	  // Configure the uploader
  	  if (typeof uploaderController != 'undefined') {
  	    uploaderController.events.addEventListener('close', function(){ profileController.hideChoosePhoto() });	
  	  }
  	  	
  		
  	  // Limit the textarea content	
  	  
  	  YsdForms.limit_text_area_content_size (document.getElementById('about_me'),
  	                                         1024,
  	                                         function (content_remain) {
  	                                         	document.getElementById('about_me_comments_length').innerHTML = '<strong>' + content_remain + '</strong>';
  	                                         });	
  	                                         
  	  // Configure the dialogs
  	  
      $('#sending-request').dialog({autoOpen: false, height: 160, modal: true,
       	      closeOnEscape: false,
       	       open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
       	       close: function(event, ui) { $(".ui-dialog-titlebar-close").show(); }
             });
  	
  	  // Validations
  	  
  	  $.validator.addMethod(
  	    "regexp",
  	    function(value, element, regexp) {
  	      var re = new RegExp(regexp);
  	      return this.optional(element) || re.test(value);	
  	    },
  	    "Please check your input");
  	  
  	  $('#profile_form').validate(
  	  
  	    {
  	       debug: true,
  	       
  	       submitHandler: function(form) 
  	       {
  	       
  	         profileController.register_profile($(form).formParams(false));
  	       	
  	       },
  	       
  	       // http://www.randallmorey.com/blog/2008/mar/16/extending-jquery-form-validation-plugin/
  	       
  	       rules : {
  	       	
  	       	 'email': {
  	       	   required : true,
  	       	   email: true,
  	       	   remote: {
  	       	   	 url: '/profile/check-email-not-exist',
  	       	   	 type: 'post',
  	       	   	 content_type: 'application/json; charset=utf-8',
  	       	   	 data : {
  	       	   	 	'email' : function() {
  	       	   	 	  return $('#email').val();	
  	       	   	 	}
  	       	   	 }
  	       	   }	
  	       	 },
  	       	 
  	       	 <% if @method == 'POST' %>
  	       	 'username': {
  	       	   required: true,	
  	           regexp: '^[\\w|\\d]*$',
  	           remote: {
  	           	 url: '/profile/check-user-not-exist',
  	           	 type: 'post',
  	           	 content_type: 'application/json; charset=utf-8',
  	           	 data: {
  	           	   'username': function() {
  	           	   	 return $('#username').val();
  	           	   }	
  	           	 }
  	           }
  	       	 },
  	       	 <% end %>
  	       	 
  	       	 'password': {
  	       	   required: true,	
  	       	   minlength : 6,
  	       	   regexp: '^[\\w|\\d]*$'
  	       	 },
  	       	 
  	       	 'confirm_password': {
  	       	   equalTo: '#password'	
  	       	 },
  	       	   	
  	       	 'full_name': {
  	       	   required: true	
  	       	 }
  	       	 
  	       	 
  	       },
  	       
  	       messages : {
  	       	
  	       	 'email' : {
  	       	   required: "<%= t.profile_form.validation.mail_required %>",
  	       	   email: "<%= t.profile_form.validation.mail_valid %>",
  	       	   remote: jQuery.format("<%= t.profile_form.validation.mail_in_use%>")
  	       	 },
  	       	
  	       	 'username': {
  	       	   required: "<%= t.profile_form.validation.username_required %>",
  	       	   regexp: "<%= t.profile_form.validation.username_regexp %>",
  	       	   remote: jQuery.format("<%= t.profile_form.validation.username_in_use%>")	
  	       	 },
  	       	 
  	       	 'password': {
  	       	   required: "<%= t.profile_form.validation.password_required %>",
  	       	   minlength: "<%= t.profile_form.validation.password_minlength %>",
  	       	   regexp: "<%= t.profile_form.validation.password_regexp %>"	
  	       	 },
  	       	 
  	       	 'confirm_password': {
  	       	   equalTo: "<%= t.profile_form.validation.confirm_password_equalTo %>"
  	       	 },
  	       	 
  	       	 'full_name': {
  	       	   required: "<%= t.profile_form.validation.full_name_required %>"	
  	       	 }
  	       	
  	       }
  	    	
  	    }
  	  
  	  );
	
      // Sets the focus
      
      if (document.getElementById('email')) {
        document.getElementById('email').focus();	
      }
      else
      {
        document.getElementById('full_name').focus();	
      } 

		  		
  	},
  	
  	
  	state_changed : function (new_state) {
  		
  		switch (new_state) {
  			
  		  case 'sending_request':
  		  
  		    $('#sending-request').dialog('open');
  		  
  		    break;
  		  	
  		 case 'process_completed':
  		 
  		   $('#sending-request').dialog('close');
  		 
       	   $('<div title="<%= (@method=='POST')?(t.profile_form.process_ok_title):(t.profile_form.process_update_ok_title) %>"> <%= (@method=='POST')?(t.profile_form.process_ok_description):(t.profile_form.process_update_ok_description) %> </div>').dialog( { height: 160, modal: true,     	 
       	        buttons: {
       	            Ok: function() 
       	            {
				   	  $( this ).dialog( "close" );
				   	  profileController.redirectProfile();
				    }
				}
           	  });  		 
  		 
  		   break;
  		   
  		 case 'process_error':
  		   
  		   $('#sending-request').dialog('close');
  		   
  		   $('<div title="<%= (@method=='POST')?(t.profile_form.process_error_title):(t.profile_form.process_update_error_title) %>"> <%= (@method=='POST')?(t.profile_form.process_error_description):(t.profile_form.process_update_error_description) %> </div>').dialog( { height: 160, modal: true,     	 
       	        buttons: {
       	            Ok: function() {
				   	$( this ).dialog( "close" );
				  }
				}
           	  });       	           	  
 
  		   
  		   break; 	
  		  	
  		}
  		
  	}
  	
  };
 
  profileView.init();

</script>

<!-- Profile form extensions -->
  
<%= call_hook(:profile_form_extension) %>