<%            
   age_sex = []
          
   case @document['sex'] 
      when '0' 
         age_sex << t.profile_form.male 
      when '1' 
         age_sex << t.profile_form.female 
   end 
          
   if age=@document.age            
     age_sex << "#{age} #{t.profile.years}"
   end
          
%>

<div id="profile">

  <div id="profile_summary">

    <div id="profile_photo">
      <img id="profile_photo_img" src="<%=profile_photo_url(@document)%>"/>  
    </div>

    <div id="profile_actions">
      <% if user['username'] == @document['username'] %>
        <!-- Profile extension : action buttons -->
        <%= call_hook(:profile_action) %>
        <div id="edit_profile_button" class="form-button"><a href="/profile/edit"><%=t.profile.edit_profile%></a></div>
      <% else %>
        <!-- Profile extensions : action buttons -->
        <%= call_hook(:profile_not_owner_action) %>
      <% end %>          
    </div> 

    <% if @document['about_me'] and @document['about_me'].strip.length > 0 %>
    <div id="profile_about_me">
        <h3><%=t.profile.about_me%></h3>
        <div id="about_me">
          <%= @document['about_me'].gsub(/\n/,'<br/>') %>
        </div>
    </div>
    <% end %>
    
    <div style="overflow:hidden">
      <div style="float:left">
        <h3><%=t.profile.gender%></h3>
        <span><%= age_sex[0]%></span>
      </div>
      <% if @document.age and @document.age.to_s.strip.length > 0 %>
      <div style="float:right">
        <h3><%=t.profile.age%></h3>
        <span><%= "#{age} #{t.profile.years}" %></span> 
      </div>
      <% end %>
    </div>
 
  </div>
  
  <div id="profile_detail">

    <div id="profile_basic">
      <h2><%=@document['full_name']%></h2>
      <div id="profile_data">
    
        <% if @document['country_of_origin'] and @document['country_of_origin'].strip.length > 0  %>
          <div><%=@document['country_of_origin']%></div>  
        <% end %>

        <% if @document['creation_date'] and @document['creation_date'].is_a?Time %>
          <div><span class="profile_literal" style="display:inline"><%= t.profile.member_since %></span> <%=@document['creation_date'].strftime("%d.%m.%Y")%></div>
        <% end %>
        
        <br/>
                  
        <!-- Profile extensions : extra data -->
           
        <%= call_hook(:profile) %>
                     
      </div>        
    </div>
  
  </div>
  
</div>

<!-- Profile action extensions -->

<%= call_hook(:profile_action_extension) %>
<%= call_hook(:profile_not_owner_action_extension) %>

